@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Raleway:wght@200;300&display=swap");

#root {
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  /* margin-inline: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
  border: 5px solid transparent;
  border-radius: 5px;
  /* box-shadow: 2px 2px 145px -9px rgba(207, 101, 101, 0.64); */
  margin-inline: auto;
}

/* #container > * {
  outline: 5px solid black;
} */

main {
  flex: 1;
}

.content {
  margin: 20px;
  padding: 20px;
}

h1 {
  color: #000;
  letter-spacing: 10px;
  margin-top: 0px;
  font-size: 6rem;
}

.navbar ul {
  color: black;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  column-gap: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding-block: 35px;
  padding-inline: 25px;
}

h2 {
  font-weight: 100;
  text-align: left;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  text-shadow: -2px 6px 7px rgba(248, 232, 232, 0.98);
}

.catalog {
  height: 100%;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-block: 2%;
  column-gap: 20px;

  row-gap: 20px;
}

.card {
  /* border: 1px solid red; */
  /* background-color: pink; */
  text-align: left;
}

.card img {
  width: 100%;
  height: auto;
}

.product-name,
.product-description,
.product-price {
  color: rgb(67, 62, 62);
  font-family: Raleway, Montserrat, Inter, system-ui;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.product-name {
  font-weight: 800;
  padding-top: 5px;
  font-size: 0.9rem;
}

.product-info {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 5px;
}

.navbar-active {
  font-weight: 600;
}

.pending {
  color: blue;
  border: 10px solid red;
}

.item-showcase {
  display: flex;
  align-items: center;
}
