#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#hero {
  margin-inline: auto;
  background-color: red;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  border: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 145px -9px rgba(207, 101, 101, 0.64);
  margin-inline: auto;
  width: 910px;
  height: 100vh;
}

h1 {
  color: white;
  letter-spacing: 10px;
  margin-top: 0px;
  padding-top: 65px;
  font-size: 6rem;
}
